body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#fretboard-visualizer {
  transition: opacity 5s ease-out;
}

/* Transition effect when switching states */
.state-transition {
  opacity: 0.5;
  transition: opacity 5s ease-out;
}

canvas {
  transform: translateZ(0);
  will-change: transform;
}